body{
    font-family:"Inter", sans-serif;
    background-color: #f8f9fa !important;
}
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 16px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#carouselExampleAutoplaying .battimg{
    object-fit:fill;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}
@media (max-width: 800px) {
  .carousel-inner .battimg {
    height: 300px !important ;
  }
}
@media (min-width: 961px) {
  .carousel-inner .battimg {
    height: 500px !important ;
  }
}
#batteryfinder {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #264436 !important;
    margin-top: 50px;
    color:#f8f9fa
}
.catitem{
    padding-left: 4%;
}