body{
    font-family:"Inter", sans-serif;
    background-color: #f8f9fa !important;
}
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 16px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#carouselExampleAutoplaying .battimg{
    object-fit:fill;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}
@media (max-width: 800px) {
  .carousel-inner .battimg {
    height: 300px !important ;
  }
}
@media (min-width: 961px) {
  .carousel-inner .battimg {
    height: 500px !important ;
  }
}
#batteryfinder, #working{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #264436 !important;
    margin-top: 50px;
    color:#f8f9fa
}
.catitem{
  padding-left: 4%;
}
.custom-card {
  background-color: #ffffff10;
  border-radius: 15px;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
}

.custom-card:hover {
  transform: translateY(-8px);
  color: #f8f9fa;
  background-color: #ffffff15;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.text-muted:hover{
  color: #f8f9fa;
}

.emoji {
  transition: transform 0.3s ease;
}

.custom-card:hover .emoji {
  transform: scale(1.3);
}
.about-us h2 {
  color: #333;
}

.about-us p {
  font-size: 1.05rem;
  line-height: 1.7;
}
